{{define "extra_head"}}{{end}}
{{define "content"}}
<main>
    <section id="hero" class="container">
        <h1>Hey, I'm Thien</h1>
        <p>I'm a software developer based in Ho Chi Minh city.</p>
        <p>You can follow me on <a href="https://twitter.com/thisisthien" target="_blank">Twitter</a>, see my code
            on <a href="https://github.com/tatthien" target="_blank">Github</a>. I occasionally <a
                href="https://12bit.vn" target="_blank">blog</a>
            too.</p>
        <p>Outside of programming and helping my wife take care of our son, I enjoy playing soccer, collecting
            mechanical keycaps.</p>
    </section>
    <section id="posts" class="container">
        <ul class="post-list">
            {{ range .Posts }}
            {{ if eq .Type "posts"}}
            <li class="post-item">
                <a href="{{ .Permarlink }}">{{ .Title }}</a>
                <div class="font-mono">
                    <span class="post-date">{{ .FormattedDate "Jan 02, 2006" }}</span>

                    <span class="post-tags">
                        {{ join .Tags ", " }}
                    </span>
                </div>
            </li>
            {{ end }}
            {{ end }}
        </ul>
    </section>
</main>
{{end}}

{{define "extra_footer"}}{{end}}

{{template "base.html" .}}