{{define "extra_head"}}{{end}}
{{define "content"}}
<main class="container">
    <a href="/" class="font-mono">cd $HOME</a>
    <h1><span class="text-muted">Tag:</span> {{ .Tag.Name }}</h1>
    <ul class="post-list">
        {{ range .Tag.Posts }}
        {{ if eq .Type "posts"}}
        <li class="post-item">
            <a href="{{ .Permarlink }}">{{ .Title }}</a>
            <div>
                <span class="post-date">{{ .Date.Format "Jan 02, 2006" }}</span>

                <span class="post-tags">
                    {{ join .Tags ", " }}
                </span>
            </div>
        </li>
        {{ end }}
        {{ end }}
    </ul>
</main>
{{end}}
{{define "extra_footer"}}{{end}}
{{template "base.html" .}}